
{% extends "base.html" %}
{% import "macros/list_items.html" as list_item %}

{% block top %}
<section class="hero is-link">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ site_name }}</h1>
            <h2 class="subtitle">{{ site_subtitle }}</h2>
        </div>
    </div>
</section>
{% endblock top %}

{% block main %}
<!-- Main Content -->
<section class="section">
    <div class="container">
        <div class="columns">
          {{ list_item.cards([1,2,3,4,6]) }}
        </div>
    </div>
</section>
{% endblock main %}
